<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.channel.dao.DltMapRoomPOMapper" >
  <resultMap id="BaseResultMap" type="com.travel.channel.entity.po.DltMapRoomPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="m_hotel_id" property="zhHotelId" jdbcType="BIGINT" />
    <result column="m_room_id" property="zhRoomId" jdbcType="BIGINT" />
    <result column="m_rp_id" property="zhRpId" jdbcType="BIGINT" />
    <result column="dlt_hotel_id" property="dltHotelId" jdbcType="BIGINT" />
    <result column="dlt_room_id" property="dltRoomId" jdbcType="BIGINT" />
    <result column="m_room_name" property="dltRoomName" jdbcType="VARCHAR" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, m_hotel_id, m_room_id, m_rp_id, dlt_hotel_id, dlt_room_id, m_room_name,merchant_code,
    creator, create_date, modifier, modify_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.travel.channel.entity.po.DltMapRoomPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_dlt_map_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_dlt_map_room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectRoomMappingList" resultType="com.travel.channel.dto.response.DltRoomMappingDTO" parameterType="com.travel.channel.dto.request.DltRoomMappingQueryDTO" >
    select room.*, dmr.dlt_room_id dltRoomId from (
      select
             h.hotel_id       hotelId,
             h.hotel_name     hotelName,
             r.room_type_id   roomId,
             r.ROOM_NAME      roomName ,
             p.priceplan_id   pricePlanId,
             p.priceplan_name pricePlanName,
             p.is_active      isActive
        from
             t_htlpro_priceplan p,
             t_htlpro_hotel h,
             t_htlpro_room r,
             t_supply_hotel_relation sr,
             t_supply s
       where h.hotel_id = r.hotel_id
         and p.room_type_id = r.room_type_id
         and p.hotel_id = r.hotel_id
         and sr.hotel_id = h.hotel_id
         and sr.supply_code = s.supply_code
         <if test="hotelId != null and '' != hotelId" >
         and p.hotel_id = #{hotelId,jdbcType=BIGINT}
         </if>
         <if test="hotelName != null and '' != hotelName" >
         and h.hotel_name like concat('%',#{hotelName},'%')
         </if>
         <if test="cityCode != null and '' != cityCode" >
         and h.city_code = #{cityCode,jdbcType=VARCHAR}
         </if>
    ) room
    left join t_dlt_map_room dmr on room.pricePlanId = dmr.m_rp_id
    <if test="null != mappingStatus and 0 == mappingStatus">
      where dmr.dlt_room_id is null
    </if>
    <if test="null != mappingStatus and 1 == mappingStatus">
      where dmr.dlt_room_id is not null
    </if>
    order by room.hotelId
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_dlt_map_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.travel.channel.entity.po.DltMapRoomPOExample" >
    delete from t_dlt_map_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.travel.channel.entity.po.DltMapRoomPO" >
    insert into t_dlt_map_room (id, m_hotel_id, m_room_id,
      m_rp_id, dlt_hotel_id, dlt_room_id,
    m_room_name, creator, create_date,
      modifier, modify_date)
    values (#{id,jdbcType=BIGINT}, #{zhHotelId,jdbcType=BIGINT}, #{zhRoomId,jdbcType=BIGINT}, 
      #{zhRpId,jdbcType=BIGINT}, #{dltHotelId,jdbcType=BIGINT}, #{dltRoomId,jdbcType=BIGINT}, 
      #{dltRoomName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.channel.entity.po.DltMapRoomPO" >
    insert into t_dlt_map_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zhHotelId != null" >
        m_hotel_id,
      </if>
      <if test="zhRoomId != null" >
        m_room_id,
      </if>
      <if test="zhRpId != null" >
        m_rp_id,
      </if>
      <if test="dltHotelId != null" >
        dlt_hotel_id,
      </if>
      <if test="dltRoomId != null" >
        dlt_room_id,
      </if>
      <if test="dltRoomName != null" >
        m_room_name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="zhHotelId != null" >
        #{zhHotelId,jdbcType=BIGINT},
      </if>
      <if test="zhRoomId != null" >
        #{zhRoomId,jdbcType=BIGINT},
      </if>
      <if test="zhRpId != null" >
        #{zhRpId,jdbcType=BIGINT},
      </if>
      <if test="dltHotelId != null" >
        #{dltHotelId,jdbcType=BIGINT},
      </if>
      <if test="dltRoomId != null" >
        #{dltRoomId,jdbcType=BIGINT},
      </if>
      <if test="dltRoomName != null" >
        #{dltRoomName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.travel.channel.entity.po.DltMapRoomPOExample" resultType="java.lang.Integer" >
    select count(*) from t_dlt_map_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dlt_map_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.zhHotelId != null" >
        m_hotel_id = #{record.zhHotelId,jdbcType=BIGINT},
      </if>
      <if test="record.zhRoomId != null" >
        m_room_id = #{record.zhRoomId,jdbcType=BIGINT},
      </if>
      <if test="record.zhRpId != null" >
        m_rp_id = #{record.zhRpId,jdbcType=BIGINT},
      </if>
      <if test="record.dltHotelId != null" >
        dlt_hotel_id = #{record.dltHotelId,jdbcType=BIGINT},
      </if>
      <if test="record.dltRoomId != null" >
        dlt_room_id = #{record.dltRoomId,jdbcType=BIGINT},
      </if>
      <if test="record.dltRoomName != null" >
        m_room_name = #{record.dltRoomName,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dlt_map_room
    set id = #{record.id,jdbcType=BIGINT},
      m_hotel_id = #{record.zhHotelId,jdbcType=BIGINT},
      m_room_id = #{record.zhRoomId,jdbcType=BIGINT},
      m_rp_id = #{record.zhRpId,jdbcType=BIGINT},
      dlt_hotel_id = #{record.dltHotelId,jdbcType=BIGINT},
      dlt_room_id = #{record.dltRoomId,jdbcType=BIGINT},
      m_room_name = #{record.dltRoomName,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.channel.entity.po.DltMapRoomPO" >
    update t_dlt_map_room
    <set >
      <if test="zhHotelId != null" >
        m_hotel_id = #{zhHotelId,jdbcType=BIGINT},
      </if>
      <if test="zhRoomId != null" >
        m_room_id = #{zhRoomId,jdbcType=BIGINT},
      </if>
      <if test="zhRpId != null" >
        m_rp_id = #{zhRpId,jdbcType=BIGINT},
      </if>
      <if test="dltHotelId != null" >
        dlt_hotel_id = #{dltHotelId,jdbcType=BIGINT},
      </if>
      <if test="dltRoomId != null" >
        dlt_room_id = #{dltRoomId,jdbcType=BIGINT},
      </if>
      <if test="dltRoomName != null" >
        m_room_name = #{dltRoomName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.channel.entity.po.DltMapRoomPO" >
    update t_dlt_map_room
    set m_hotel_id = #{zhHotelId,jdbcType=BIGINT},
      m_room_id = #{zhRoomId,jdbcType=BIGINT},
      m_rp_id = #{zhRpId,jdbcType=BIGINT},
      dlt_hotel_id = #{dltHotelId,jdbcType=BIGINT},
      dlt_room_id = #{dltRoomId,jdbcType=BIGINT},
      m_room_name = #{dltRoomName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="queryPricePlanResultMap" type="com.travel.hotel.product.entity.po.PricePlanPO" >
      <id column="priceplan_id" property="priceplanId" jdbcType="BIGINT" />
      <result column="breakfast_type" property="breakfast" jdbcType="BIGINT" />
  </resultMap>
  <select id="queryPricePlan" resultMap="queryPricePlanResultMap" parameterType="java.lang.Integer" >
    select t.breakfast_type,t.priceplan_id from t_htlpro_priceplan t where t.priceplan_id = #{pricePlanId,jdbcType=BIGINT}
  </select>
</mapper>