<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangcang.product.mapper.RestrictMapper">
  <resultMap id="BaseResultMap" type="com.fangcang.product.domain.RestrictDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rate_plan_id" jdbcType="INTEGER" property="ratePlanId" />
    <result column="advance_booking_days" jdbcType="INTEGER" property="advanceBookingDays" />
    <result column="advance_booking_hours" jdbcType="INTEGER" property="advanceBookingHours" />
    <result column="occupancy_of_days" jdbcType="INTEGER" property="occupancyOfDays" />
    <result column="number_of_booking" jdbcType="INTEGER" property="numberOfBooking" />
    <result column="cancel_type" jdbcType="INTEGER" property="cancelType" />
    <result column="cancel_days" jdbcType="INTEGER" property="cancelDays" />
    <result column="cancel_hours" jdbcType="VARCHAR" property="cancelHours" />
    <result column="last_confirm_days" jdbcType="INTEGER" property="lastConfirmDays" />
    <result column="last_confirm_hours" jdbcType="INTEGER" property="lastConfirmHours" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
</mapper>