<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangcang.product.mapper.SharedPoolLogMapper">

    <insert id="batchSaveSharedPoolLog" parameterType="java.util.List">
        insert into t_htlpro_shared_pool_log (
                                          operate_type,
                                          quotaaccount_id,
                                          priceplan_id,
                                          merchant_code,
                                          create_time,
                                          creator)
                                  values
                                  <foreach collection="list" item="item" separator=",">
                                      (
                                      #{item.operateType,jdbcType=INTEGER},
                                      #{item.quotaAccountId,jdbcType=INTEGER},
                                      #{item.pricePlanId,jdbcType=INTEGER},
                                      #{item.merchantCode,jdbcType=VARCHAR},
                                      NOW(),
                                      #{item.creator,jdbcType=VARCHAR})
                                  </foreach>
    </insert>
</mapper>