<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.report.mapper.RoomNightReportMapper">

    <select id="queryRoomNightReport" parameterType="com.fangcang.report.request.QueryRoomNightReportDTO"
            resultType="com.fangcang.report.response.RoomNightReportDTO">
        SELECT * FROM
        (SELECT DISTINCT
            h.hotel_id hotelId,
            h.hotel_name hotelName
        FROM
            t_hotel h LEFT JOIN
            t_htlpro_priceplan p ON h.hotel_id = p.hotel_id
        WHERE 1=1
        <if test="supplyCode != null and supplyCode!=''">
            AND p.supply_code=#{supplyCode}
        </if>
        <if test="cityCode != null and cityCode!=''">
            AND h.city_code=#{cityCode}
        </if>
        )tmp1 LEFT JOIN
        (SELECT
          SUM(spp.base_price*sp.room_num)amount,
          SUM(sp.room_num)roomNight,
          SUM(CASE WHEN o.is_group_room=1 THEN 0 ELSE sp.room_num END)looseRoomNight,
          SUM(CASE WHEN o.is_group_room=0 THEN 0 ELSE sp.room_num END)grouponRoomNight,
          so.hotel_id
        FROM
          o_supply_product_price spp,
          o_supply_product sp,
          o_supply_order so,
          o_order o
        WHERE
        spp.supply_product_id = sp.id
        AND sp.supply_order_id = so.id
        AND so.order_id=o.id
        AND so.supply_status IN (1,2,3)
        AND o.merchant_code=#{merchantCode}
        <if test="channelCode != null and channelCode!=''">
            AND o.channel_code=#{channelCode}
        </if>
        <choose>
            <when test="supplyCode != null and supplyCode!=''">
                AND so.supply_code=#{supplyCode}
            </when>
            <otherwise>
                <if test="supplyName != null and supplyName !=''">
                    AND so.supply_name LIKE concat(concat('%',#{supplyName}),'%')
                </if>
            </otherwise>
        </choose>
        <if test="cityCode != null and cityCode!=''">
            AND o.city_code=#{cityCode}
        </if>
        <if test="beginDate != null and beginDate!=''">
            AND spp.sale_date >= #{beginDate}
        </if>
        <if test="endDate != null and endDate!=''">
            AND spp.sale_date &lt;= #{endDate}
        </if>
        <if test="hotelIdList != null and hotelIdList.size > 0">
            AND so.hotel_id in
            <foreach collection="hotelIdList" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="supplyStatusList != null and supplyStatusList.size > 0">
            AND so.supply_status in
            <foreach collection="supplyStatusList" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <choose>
            <when test="hotelId != null and hotelId!=''">
                AND so.hotel_id=#{hotelId}
            </when>
            <otherwise>
                <if test="hotelName != null and hotelName !=''">
                    AND so.hotel_name LIKE concat(concat('%',#{hotelName}),'%')
                </if>
            </otherwise>
        </choose>
        GROUP BY so.hotel_id)tmp2
        ON tmp1.hotelId=tmp2.hotel_id
        ORDER BY tmp2.roomNight DESC
    </select>

    <select id="queryRoomNightDailyReport" parameterType="com.fangcang.report.request.QueryRoomNightReportDTO"
            resultType="com.fangcang.report.response.RoomNightDailyReportDTO">
        SELECT
        spp.sale_date saleDate,
        SUM(spp.base_price*sp.room_num)amount,
        SUM(sp.room_num)roomNight,
        SUM(CASE WHEN o.is_group_room=1 THEN 0 ELSE sp.room_num END)looseRoomNight,
        SUM(CASE WHEN o.is_group_room=0 THEN 0 ELSE sp.room_num END)grouponRoomNight,
        so.hotel_name hotelName,
        so.hotel_id hotelId
        FROM
        o_supply_product_price spp,
        o_supply_product sp,
        o_supply_order so,
        o_order o
        WHERE
        spp.supply_product_id = sp.id
        AND sp.supply_order_id = so.id
        AND so.order_id=o.id
        AND so.supply_status IN (1,2,3)
        AND o.merchant_code=#{merchantCode}
        <if test="channelCode != null and channelCode!=''">
            AND o.channel_code=#{channelCode}
        </if>
        <choose>
            <when test="supplyCode != null and supplyCode!=''">
                AND so.supply_code=#{supplyCode}
            </when>
            <otherwise>
                <if test="supplyName != null and supplyName !=''">
                    AND so.supply_name LIKE concat(concat('%',#{supplyName}),'%')
                </if>
            </otherwise>
        </choose>
        <if test="cityCode != null and cityCode!=''">
            AND o.city_code=#{cityCode}
        </if>
        <if test="beginDate != null and beginDate!=''">
            AND spp.sale_date >= #{beginDate}
        </if>
        <if test="endDate != null and endDate!=''">
            AND spp.sale_date &lt;= #{endDate}
        </if>
        <if test="hotelIdList != null and hotelIdList.size > 0">
            AND so.hotel_id in
            <foreach collection="hotelIdList" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="supplyStatusList != null and supplyStatusList.size > 0">
            AND so.supply_status in
            <foreach collection="supplyStatusList" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <choose>
            <when test="hotelId != null and hotelId!=''">
                AND so.hotel_id=#{hotelId}
            </when>
            <otherwise>
                <if test="hotelName != null and hotelName !=''">
                    AND so.hotel_name LIKE concat(concat('%',#{hotelName}),'%')
                </if>
            </otherwise>
        </choose>
        GROUP BY spp.sale_date,so.hotel_name,so.hotel_id
        ORDER BY spp.sale_date
    </select>
    
    <select id="queryRoomNightSummary" parameterType="com.fangcang.report.request.QueryRoomNightReportDTO"
            resultType="com.fangcang.report.response.RoomNightSummaryDTO">
        SELECT
          SUM(spp.base_price*sp.room_num)amountTotal,
          SUM(sp.room_num)roomNightTotal,
          SUM(CASE WHEN o.is_group_room=1 THEN 0 ELSE sp.room_num END)looseRoomNight,
          SUM(CASE WHEN o.is_group_room=0 THEN 0 ELSE sp.room_num END)grouponRoomNight
        FROM
          o_supply_product_price spp,
          o_supply_product sp,
          o_supply_order so,
          o_order o
        WHERE
          spp.supply_product_id = sp.id
        AND sp.supply_order_id = so.id
        AND so.order_id=o.id
        AND so.supply_status IN (1,2,3)
        AND o.merchant_code=#{merchantCode}
        <if test="channelCode != null and channelCode!=''">
            AND o.channel_code=#{channelCode}
        </if>
        <choose>
            <when test="supplyCode != null and supplyCode!=''">
                AND so.supply_code=#{supplyCode}
            </when>
            <otherwise>
                <if test="supplyName != null and supplyName !=''">
                    AND so.supply_name LIKE concat(concat('%',#{supplyName}),'%')
                </if>
            </otherwise>
        </choose>
        <if test="cityCode != null and cityCode!=''">
            AND o.city_code=#{cityCode}
        </if>
        <if test="beginDate != null and beginDate!=''">
            AND spp.sale_date >= #{beginDate}
        </if>
        <if test="endDate != null and endDate!=''">
            AND spp.sale_date &lt;= #{endDate}
        </if>
        <if test="hotelIdList != null and hotelIdList.size > 0">
            AND so.hotel_id in
            <foreach collection="hotelIdList" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="supplyStatusList != null and supplyStatusList.size > 0">
            AND so.supply_status in
            <foreach collection="supplyStatusList" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <choose>
            <when test="hotelId != null and hotelId!=''">
                AND so.hotel_id=#{hotelId}
            </when>
            <otherwise>
                <if test="hotelName != null and hotelName !=''">
                    AND so.hotel_name LIKE concat(concat('%',#{hotelName}),'%')
                </if>
            </otherwise>
        </choose>
    </select>
</mapper>