<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangcang.finance.bill.mapper.AgentCreditOrderMapper">

  <update id="updateOrderFinance" parameterType="com.fangcang.finance.bill.request.UpdateOrderFinanceDTO">
      UPDATE o_order_finance o
      <trim prefix="set" suffixOverrides=",">
        <if test="settlementAmount != null">
          o.settlement_amount = #{settlementAmount},
        </if>
        <if test="accountStatus != null">
          o.account_status = #{accountStatus},
        </if>
        <if test="settlementStatus != null">
          o.settlement_status=#{settlementStatus},
        </if>
      </trim>
      where o.order_code = #{orderCode}
  </update>

  <select id="queryAgentCheckOut" parameterType="com.fangcang.finance.bill.request.QueryCheckOutDTO"
      resultType="com.fangcang.finance.bill.response.CheckOutDTO">
    SELECT
      tmp1.agent_code orgCode,
      tmp1.agent_name orgName,
      tmp1.totalAmount,
      CONCAT(ROUND(tmp1.totalAmount / tmp2.allAmount * 100,2),'','%') amountOfPercent,
      tmp1.orderCount
    FROM
    (SELECT
        o.agent_code,
        a.agent_name,
        sum(o.receivable_amount - f.settlement_amount - IFNULL(tmp.noticeAmount,0)) totalAmount,
        count(1) orderCount
      FROM o_order o INNER JOIN o_order_finance f ON o.id = f.order_id INNER JOIN t_agent a ON o.agent_code=a.agent_code
        LEFT JOIN
        (SELECT
        foi.order_code,
        SUM(foi.amount)noticeAmount
        FROM
        t_fin_agent_finance_order fo,
        t_fin_agent_finance_order_item foi
        WHERE
        fo.id = foi.finance_order_id
        AND fo.finance_status=0
        GROUP BY foi.order_code)tmp ON o.order_code=tmp.order_code
      WHERE o.order_status IN (3,4)
        AND f.account_status IN (0,1)
        AND o.merchant_code=#{merchantCode}
    <choose>
      <when test="dateType==1">
        <if test="beginDate!=null and beginDate!=''">
          AND o.create_time >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.create_time &lt; date_add(#{endDate},interval 1 day)
        </if>
      </when>
      <when test="dateType==2">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkin_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkin_date &lt;= #{endDate}
        </if>
      </when>
      <when test="dateType==3">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkout_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkout_date &lt;= #{endDate}
        </if>
      </when>
    </choose>
    <choose>
      <when test="orgCode!=null and orgCode!=''">
        AND o.agent_code=#{orgCode}
      </when>
      <otherwise>
        <if test="orgName != null and orgName != ''">
          AND a.agent_name LIKE concat(concat('%',#{orgName}),'%')
        </if>
      </otherwise>
    </choose>
    <if test="orderCode != null and orderCode != ''">
      AND o.order_code=#{orderCode}
    </if>
    <if test="customerOrderCode != null and customerOrderCode != ''">
      AND o.customer_order_code=#{customerOrderCode}
    </if>
    <if test="guest != null and guest != ''">
      AND o.guest_names LIKE concat(concat('%',#{guest}),'%')
    </if>
      GROUP BY o.agent_code,a.agent_name
      ORDER BY totalAmount DESC
    ) tmp1,
    (SELECT
        sum(o.receivable_amount - f.settlement_amount - IFNULL(tmp.noticeAmount,0)) allAmount
        FROM o_order o INNER JOIN o_order_finance f ON o.id = f.order_id INNER JOIN t_agent a ON o.agent_code=a.agent_code
          LEFT JOIN
          (SELECT
          foi.order_code,
          SUM(foi.amount)noticeAmount
          FROM
          t_fin_agent_finance_order fo,
          t_fin_agent_finance_order_item foi
          WHERE
          fo.id = foi.finance_order_id
          AND fo.finance_status=0
          GROUP BY foi.order_code)tmp ON o.order_code=tmp.order_code
        WHERE o.order_status IN (3,4)
        AND f.account_status IN (0,1)
        AND o.merchant_code=#{merchantCode}
    <choose>
      <when test="dateType==1">
        <if test="beginDate!=null and beginDate!=''">
          AND o.create_time >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.create_time &lt; date_add(#{endDate},interval 1 day)
        </if>
      </when>
      <when test="dateType==2">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkin_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkin_date &lt;= #{endDate}
        </if>
      </when>
      <when test="dateType==3">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkout_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkout_date &lt;= #{endDate}
        </if>
      </when>
    </choose>
    <choose>
      <when test="orgCode!=null and orgCode!=''">
        AND o.agent_code=#{orgCode}
      </when>
      <otherwise>
        <if test="orgName != null and orgName != ''">
          AND a.agent_name LIKE concat(concat('%',#{orgName}),'%')
        </if>
      </otherwise>
    </choose>
    <if test="orderCode != null and orderCode != ''">
      AND o.order_code=#{orderCode}
    </if>
    <if test="customerOrderCode != null and customerOrderCode != ''">
      AND o.customer_order_code=#{customerOrderCode}
    </if>
    <if test="guest != null and guest != ''">
      AND o.guest_names LIKE concat(concat('%',#{guest}),'%')
    </if>
    ) tmp2 WHERE tmp1.orderCount>0
  </select>

  <select id="queryAgentCheckOutCurrency" parameterType="com.fangcang.finance.bill.request.QueryCheckOutCurrencyDTO"
          resultType="com.fangcang.finance.bill.domain.CheckOutCurrencyDO">
    SELECT
      o.agent_code orgCode,
      o.sale_currency currency,
      sum(o.receivable_amount - f.settlement_amount - IFNULL(tmp.noticeAmount,0)) amount
    FROM o_order o INNER JOIN o_order_finance f ON o.id = f.order_id
      LEFT JOIN
      (SELECT
      foi.order_code,
      SUM(foi.amount)noticeAmount
      FROM
      t_fin_agent_finance_order fo,
      t_fin_agent_finance_order_item foi
      WHERE
      fo.id = foi.finance_order_id
      AND fo.finance_status=0
      GROUP BY foi.order_code)tmp ON o.order_code=tmp.order_code
    WHERE o.order_status IN (3,4)
    AND f.account_status IN (0,1)
    <choose>
      <when test="dateType==1">
        <if test="beginDate!=null and beginDate!=''">
          AND o.create_time >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.create_time &lt; date_add(#{endDate},interval 1 day)
        </if>
      </when>
      <when test="dateType==2">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkin_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkin_date &lt;= #{endDate}
        </if>
      </when>
      <when test="dateType==3">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkout_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkout_date &lt;= #{endDate}
        </if>
      </when>
    </choose>
    <if test="orderCode != null and orderCode != ''">
      AND o.order_code=#{orderCode}
    </if>
    <if test="customerOrderCode != null and customerOrderCode != ''">
      AND o.customer_order_code=#{customerOrderCode}
    </if>
    <if test="guest != null and guest != ''">
      AND o.guest_names LIKE concat(concat('%',#{guest}),'%')
    </if>
    AND o.agent_code in
    <foreach collection="orgCodelist" item="item" open="(" separator="," close=")">#{item}</foreach>
    GROUP BY o.agent_code,o.sale_currency
  </select>

  <select id="queryCheckOutOrder" parameterType="com.fangcang.finance.bill.request.QueryCheckOutDTO"
          resultType="com.fangcang.finance.bill.response.CheckOutOrderDTO">
    SELECT
        f.account_status accountStatus,
        o.id orderId,
        o.order_code orderCode,
        o.hotel_name hotelName,
        o.room_type_names roomTypeName,
        o.rateplan_name ratePlanName,
        o.guest_names guest,
        DATE_FORMAT(o.checkin_date,"%Y-%m-%d") checkInDate,
        DATE_FORMAT(o.checkout_date,"%Y-%m-%d") checkOutDate,
        DATEDIFF(o.checkout_date,o.checkin_date)*o.room_num roomNight,
        o.sale_currency currency,
        o.customer_order_code customerOrderCode,
        o.receivable_amount receivableAmount,
        f.settlement_amount paidinAmount,
        o.receivable_amount-f.settlement_amount - IFNULL(tmp.noticeAmount,0) currPaidinAmount,
        DATE_FORMAT(o.create_time,"%Y-%m-%d %T") orderCreateDate,
        o.balance_method balanceMethod
    FROM o_order o INNER JOIN o_order_finance f ON o.id=f.order_id INNER JOIN t_agent a ON o.agent_code=a.agent_code
      LEFT JOIN
      (SELECT
      foi.order_code,
      SUM(foi.amount)noticeAmount
      FROM
      t_fin_agent_finance_order fo,
      t_fin_agent_finance_order_item foi
      WHERE
      fo.id = foi.finance_order_id
      AND fo.finance_status=0
      GROUP BY foi.order_code)tmp ON o.order_code=tmp.order_code
    WHERE o.order_status IN (3,4)
    AND o.merchant_code=#{merchantCode}
    <if test="accountStatusList != null and accountStatusList.size > 0">
      AND f.account_status IN
      <foreach collection="accountStatusList" item="item" open="(" separator="," close=")">#{item}</foreach>
    </if>
    <choose>
      <when test="dateType==1">
        <if test="beginDate!=null and beginDate!=''">
          AND o.create_time >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.create_time &lt; date_add(#{endDate},interval 1 day)
        </if>
      </when>
      <when test="dateType==2">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkin_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkin_date &lt;= #{endDate}
        </if>
      </when>
      <when test="dateType==3">
        <if test="beginDate!=null and beginDate!=''">
          AND o.checkout_date >= #{beginDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          AND o.checkout_date &lt;= #{endDate}
        </if>
      </when>
    </choose>
    <choose>
      <when test="orgCode!=null and orgCode!=''">
        AND o.agent_code=#{orgCode}
      </when>
      <otherwise>
        <if test="orgName != null and orgName != ''">
          AND a.agent_name LIKE concat(concat('%',#{orgName}),'%')
        </if>
      </otherwise>
    </choose>
    <if test="orderCode != null and orderCode != ''">
      AND o.order_code=#{orderCode}
    </if>
    <if test="customerOrderCode != null and customerOrderCode != ''">
      AND o.customer_order_code=#{customerOrderCode}
    </if>
    <if test="guest != null and guest != ''">
      AND o.guest_names LIKE concat(concat('%',#{guest}),'%')
    </if>
  </select>

  <select id="queryCheckOutOrderItem" parameterType="java.util.List" resultType="com.fangcang.finance.bill.response.CheckOutOrderItemDTO">

  </select>
</mapper>