<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangcang.finance.prepay.mapper.PrepayContractMapper">
  <resultMap id="BaseResultMap" type="com.fangcang.finance.prepay.domain.PrepayContractDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="supply_id" jdbcType="INTEGER" property="supplyId" />
    <result column="valid_begin_date" jdbcType="DATE" property="validBeginDate" />
    <result column="valid_end_date" jdbcType="DATE" property="validEndDate" />
    <result column="hotel_id" jdbcType="INTEGER" property="hotelId" />
    <result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
    <result column="target_room_night_sum" jdbcType="INTEGER" property="targetRoomNightSum" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="prepay_amount" jdbcType="DECIMAL" property="prepayAmount" />
    <result column="settlement_amount" jdbcType="DECIMAL" property="settlementAmount" />
    <result column="done_room_night" jdbcType="INTEGER" property="doneRoomNight" />
    <result column="un_done_room_night" jdbcType="INTEGER" property="unDoneRoomNight" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>